* {
  box-sizing : border-box;
}

html, body {
  height : 100%;
}

body {
  display         : flex;
  align-items     : center;
  justify-content : center;
  vertical-align  : center;
  flex-wrap       : wrap;
  align-content   : center;
  
  font-family     : 'Open Sans', sans-serif;
  background      : #fff;
}

.ticTacToe {
  display         : flex;
  justify-content : space-between;
  
  width   : 400px;
  height  : 400px;
  padding : 5px;
  border  : 1px solid #e4e4e4;
}
  .column {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
  }
  
  .square {
    display : block;
    width   : 125px;
    height  : 125px;
    border  : 1px solid #e4e4e4;
    
    color       : #0b0b2f;
    font-size   : 5em;
    font-weight : 100;
    text-align  : center;
    padding     : 20px;
  }

  .ticTacToeHeader {
    width   : 400px;
    border  : 1px solid #e4e4e4;
    padding     : 20px;
    margin-bottom: 20px;
    text-align  : center;

  }

  .resetButton {
    margin-top: 20px;
    width   : 400px;
    padding: 5px;
    border  : 1px solid #e4e4e4;
  }